<app-aheader></app-aheader>

  <div class="container">
    <div class="jumbotron my-5">
        <h1 class="display-4">Hello, Admin!</h1>
        <p class="lead">“ENZ Book Club” is an online book review blog where users can register and share their reviews on a list of books..</p>
        <hr class="my-4">
        <p>please like, comment, and share the books which are good reads.</p>
        <button class="btn btn-success btn-lg" role="button" (click)="gotoblist()">Show All Booklist</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-warning btn-lg" role="button" (click)="gotobrat()">Show All Ratinglist</button>
      </div>
  </div>
<br><br><br><br><br><br><br><br>
  <app-afooter></app-afooter>