<app-uheader></app-uheader>
  <div class="container">
    <div class="jumbotron my-5">
        <h1 class="display-4">Hello, {{ cUser }}</h1>
        <p class="lead">Welcome The biggest online bookstore.</p>
        <hr class="my-4">
        <p>Share your experience as likes,comments and rating.</p>
        <button class="btn btn-primary btn-lg" (click)="onNav()">Book List</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success btn-lg" (click)="onNav2()">User Profile</button>
      </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <app-ufooter></app-ufooter>